{% import _self as nav %}

<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brandlogo" class="navbar-brand" href="{{ 'home'|page }}"></a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            {% component "mainmenu" %}
        </div>
    </div>
</nav>
